body {
    background-color:#100C1A;
}
p {
    color: #fff;
}
li {
    color: #fff;
}
ul{
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    color: #fff;
}
.logo {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.name-title{
    text-align: center; 
}
@font-face {
    font-family: 'Tomkin-Meium';
    src: url('Fonts/Tomkin-Medium.woff2') format('woff2'),
   }
   @font-face {
    font-family: 'Tomkin-regular';
    src:url('Fonts/Tomkin-Regular.woff2') format('woff2'),
   }
h1, h2, h3, h4, h5, h6 {
    font-family:Tomkin-Medium, Sans-serif;
}   
p{
    font-family:Tomkin-Regular, sans-serif;
}  