body {
    background-color: #000;
}
header {
    background-color:rgb(18, 28, 31);
    border-radius: 20px;
}
p {
    color: #fff;
}
li {
    color: #fff;
}
ul{
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    color: #fff;
}
.logo {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.name-title{
    text-align: center; 
}
@font-face {
    font-family: 'Tomkin-Meium';
    src: url('Fonts/Tomkin-Medium.woff2') format('woff2'),
   }
   @font-face {
    font-family: 'Tomkin-regular';
    src:url('Fonts/Tomkin-Regular.woff2') format('woff2'),
   }
h1, h2, h3, h4, h5, h6 {
    font-family:Tomkin-Medium, Sans-serif;
}   
p{
    font-family:Tomkin-Regular, sans-serif;
}
.topnav{
    text-align: center;
}  
.topnav a {
    color: beige;
    text-decoration: none;
}
.box1 {
       width: 200px;
       padding: 20px;
       margin: 20px;
       border-radius: 15px;
       text-align: center;
       background-color: rgb(0, 238, 226);
}
.box2 {
        width: 200px;
        padding: 20px;
        margin: 20px;
        border-radius: 15px;
        text-align: center;
        background-color: rgb(0, 238, 226);
}
.box3 {
    width: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(0, 238, 226);
}
.box4 {
    width: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(0, 238, 226);
}
.box5 {
    width: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(0, 238, 226);
}
.box6 {
    width: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(0, 238, 226);
}
.box7 {
    width: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(0, 238, 226);
}
.box8 {
    width: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(0, 238, 226);
}